body {
  background-image: url('mountain_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
font-face {
  font-family: TitleCard;
  src: url(fonts/sonic1.ttf);
}

* {
  font-family:TitleCard;
}
